
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;;
    background-color: rgb(255, 255, 255);
  
}
a{
	text-decoration: none;
	color: black;
}
header{
	font-size: 1em;
}

#primer {
/* background-image:url("../img/home-prueba.PNG"); */
}
#segonc {
    /* background-image:url("../img/rojo-prueba.PNG"); */
    }
.textoc{
    font-size: 4rem;
    margin-top: 6rem;
}
.pi{
    font-size: 2rem;
}
.filaGris{
	background-color: #f2f2f2;
}
.brandLogo, .brandIcons, .menu{
	margin-right: 248px;
	margin-left: 248px;

}
.brandIcons{
	padding-bottom: 0.2rem;
	padding-top: 0.2rem;
}

.brandIcons i{
	margin: 0 4px;
}
.login{
	background-color: #666;
	color: white;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 15px;
}
.hoverMenu:hover{
    background-color: black;
    transition: 1.5s;
    font-size: 16.8px;
}
.navbar{
    border-radius: 10px;
	padding-bottom: 0.7rem;
	padding-top: 0.7rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	/*margin-right: 0.7rem;*/

}

.menu li{
	margin-left: 1rem;
}
.navbar-light .navbar-nav .nav-link {
   color: black;
}
.hover {
    cursor: pointer;
}