
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;;
    background-color: rgb(255, 255, 255);
  
}
a{
	text-decoration: none;
	color: black;
}
header{
	font-size: 1em;
}

.textoc{
    font-size: 4rem;
    margin-top: 6rem;
}
.pi{
    font-size: 2rem;
}
.segonc{
    background-color: rgb(110, 32, 47);
    color: rgb(255, 255, 255);
}

.vidc{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    
}
.filaGris{
	background-color: #f2f2f2;
}
.brandLogo, .brandIcons, .menu, .textCentral{
	margin-right: 248px;
	margin-left: 248px;

}
.brandIcons{
	padding-bottom: 0.2rem;
	padding-top: 0.2rem;
}

.brandIcons i{
	margin: 0 4px;
}
.filagris a{
	color: white;
}
.espai{
	background-color: #666;
	color: white!important;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 15px;
}
.iconsFooter{
    color: #8bacbd
}
.iconsfooter1{
	margin-right: 10.5rem!important
 

}
.inconsf2{
   color: #8bacbd;
}
.box {
    max-width: 25rem;
    padding: 2.5rem;
    position: relative;
    top: 50%;
    left: 50%;
    background:#fff ;
    text-align: center;
    transition: 0.25s;
    margin-top: 8rem;
    margin-bottom: 8rem;
	border-radius: 2rem;
	background:linear-gradient(to left, rgba(240, 246, 247, 0.246), #eef1f5)
}
.box input[type="email"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: rgb(74, 79, 87);
    border-radius: 24px;
    transition: 0.25s
}
.box h1 {
    color: #3498db;
    text-transform: uppercase;
    font-weight: 500
}
.box input[type="email"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #699bf7
}
.box input[type="submit"]{
    border: 0;
    background: linear-gradient(to right, rgb(151, 220, 241), #699bf7);
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: rgb(227, 232, 240);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}
.box input[type="submit"]:hover {
    background:linear-gradient(to left, rgb(151, 220, 241), #699bf7)
}
.hoverMenu:hover{
    background-color: black;
    transition: 1.5s;
    font-size: 16.8px;
}

.navbar{
    border-radius: 10px;
	padding-bottom: 0.7rem;
	padding-top: 0.7rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	/*margin-right: 0.7rem;*/
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
.nav-item{
	font-size: 14px;
	letter-spacing: 0;
	line-height: 24px;
}
.hover {
    cursor: pointer;
}
.boxofc{
    background-color: rgb(110, 32, 47);
    border-color: #fff;
}
.boxf{
background-color:#8bacbd;
  width: 200px;
  /* padding: 15px; */
  margin:0px;
  border-left: 10px solid #12789a;
  height: 60px;
  float: left;
  font-size: 2rem;
}

.boxf2{
    background-color: #f5d987;
    width: 200px;
    /* padding: 15px; */
    margin: 0px;
    border-left: 10px solid #ffc107;
    height: 54px;
    float: left;
    margin-left: 40px;
    background-color: #b5c8e0;
    width: 174px;
    /* padding: 15px; */
    margin:0px;
    border-left: 10px solid #12789a;
    height: 70px;
    float: left;
    font-size: 2rem;
}

.boxf1{
background-color: #f9d1a4;
  width: 200px;
  /* padding: 15px; */
  
  border-left: 10px solid #ff9716;
  height: 60px;
  float: left;
  margin-left: 40px;
  font-size: 2rem;
}
.boxf2{

background-color: #f5d987;
 width: 200px;
  /* padding: 15px; */
  margin: 0px;
  border-left: 10px solid #ffc107;
  height: 60px;
  float: left;
  margin-left: 40px;
  font-size: 2rem;
}
.boxf3{
background-color:#8bacbd;
 width: 200px;
  /* padding: 15px; */
  margin: 0px;
  border-left: 10px solid#12789a;
  height: 60px;
  float: left;
  font-size: 2rem;
  margin-left: 40px;

}
.boxf4{
	background-color: #f58f87;
 width: 200px;
  /* padding: 15px; */
  margin: 0px;
  border-left: 10px solid red;
  height: 60px;
  float: left;
  margin-left: 40px;
  font-size: 2rem;
}

.textCentral{
	margin-top: 50px;
}
.filtros{
	color: grey;
	border-color: grey;
	border-width: thin;
	border-style: solid;
	border-radius: 0;
}

.card{
    border: 0;
    margin-bottom: 50px;
}

#card-cases{
    margin-top: 20px;
}

.filtrar{
	color: black;
	border-color: black;
	border-width: thin;
	border-style: solid;
	border-radius: 0;
	font-size: medium;
	font-weight: normal;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 5em;
	padding-right: 5em;
}

.idioma{
    border: 0;
    font-size: 12px;
    color: #696973;
}
@media (min-width: 992px){
   .navbar-expand-lg {
        min-width: 500px;
    } 
}

.mov {
    pointer-events: none;
    position: absolute;
    /* width: 100%; */
    height: 100%;
    z-index: -1;
}
.divmov {
    display: inline-block;
    overflow: hidden;
    /* position: relative; */
    /* width: 100%; */
  }
img.miniatura{
  opacity: 0.5;
  width: 15rem;
  position: relative;
}
