<!-- <div id="slideCasa" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#slideCasa" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#slideCasa" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#slideCasa" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="multimedia/img/provisionales/{{imgCasa==null?'no-imageSlide.png' : imgCasa}}" class="d-block w-100" alt="Casa d'ofici">

	    </div>
	    <!-- falta sentencia para img de especialitats -->
	   <!--  <div class="carousel-item">
	      <img src="multimedia/img/provisionales/prueba2.png" class="d-block w-100" alt="Foto Especialitat">
	    </div>
	    <div class="carousel-item">
	      <img src="multimedia/img/provisionales/prueba3.png" class="d-block w-100" alt="Foto Especialitat">
	    </div> -->
	</div>
	<div class="position-absolute top-50 start-50 translate-middle">
		<p class="lineProj">{{idioma=:titulo}} {{idioma=casaCas | uppercase}} {{prin|limitTo:2:2}}/{{final|limitTo:2:2}}</p><hr>
		<h2>{{idioma=projCas}}</h2>
	</div>

</div>
<div class="textCentral">
	<h6 class="fw-bold">{{idioma=="cat"?textCat:textCas}}</h6>
	<p>{{idioma=="cat"?desProcat:desProcas}}</p>
	<div class="row row-cols-3">
		<div class="col">
			<h6 class="titProyecto">{{idioma=="cat"?loCat:loCas}}</h6>
			<span class="parrProyecto">Institut Tecnològic de Barcelona</span>
		</div>
		<div class="col">
			<h6 class="titProyecto">{{idioma=="cat"?partCat:partCas}}</h6>
			<ul id="participants">
				<li class="parrProyecto" ng-repeat="participant in participants">{{idioma=="cat"?participant.nom:participant.nombre}}</li>
			</ul>		
		</div>
		<div class="col">
			<h6 class="titProyecto">{{idioma=="cat"?datcat:datcas}}</h6>
			<span class="parrProyecto">a definir</span>
		</div>
	</div>
</div>
<div class="textCentral">
	<h6 class="fw-bold mb-4">{{idioma=="cat"?galCat:galCas | uppercase}}</h6>
	<div class="row row-cols-1 row-cols-lg-3">
		<div class="col" ng-repeat="galeria in galerias">
			<div class="card" ng-click="abreModal($index)">
			  <img  data-bs-toggle="modal" data-bs-target="#cardProjecte" src="multimedia/img/{{galeria.url==null?'noimatge.png' : 'projectes/'+galeria.url}}" class="card-img-top" alt="Foto Projecte">
			  <div id="cardProyectos" class="card-body" data-bs-toggle="modal" data-bs-target="#cardProjecte">
			    <h5 class="card-title border border-1 fw-bold">{{idioma=="cat"?galeria.descripcio:galeria.descripcion}}</h5>
			  </div>
			</div>
		</div>
		
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="cardProjecte" tabindex="-1" aria-labelledby="cardProjecte" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">   
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-0">			    		
      	<div id="carouselPro" class="carousel slide" data-bs-ride="carousel"> 
      		<div class="carousel-inner" >
			    <div class="carousel-item" ng-repeat="galeria in galerias"  ng-class="{'active': $index==selCarousel}">
			    	<h5 >{{idioma=="cat"?galeria.descripcio:galeria.descripcion}}</h5>
			    	<img src="multimedia/img/{{galeria.url==null?'noimatge.png' : 'projectes/'+galeria.url}}" class="d-block w-100" alt="Foto Projecte">
			    </div>
			  </div>
			  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPro" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			  </button>
			  <button class="carousel-control-next" type="button" data-bs-target="#carouselPro" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			  </button>
		</div>
      </div>
    </div>
  </div>
</div> -->

