@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}


.titolGestor{
    font-size: 3rem;
    color: #000102;
    text-align: center;
}
h2 {
    text-align: center !important;
    font-size: 36px;
    line-height: 78px;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
a{
	text-decoration: none;
	color: black;
}
.btnAfegir, .btnTancar{
    margin-top: 2rem;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    color: #f3f8fa;
    font-family: 'Open Sans', Arial, sans-serif;
    background: linear-gradient(to left, #1d4d7a,  #12789a);
    border-radius: 8px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}
.btnAfegir:hover,
.btnTancar:hover {
    background:linear-gradient(to left, rgba(240, 246, 247, 0.246), #eef1f5);
    color: #12789a;
    font-weight: bolder;
    border: 1px solid #12789a;
}

.cardGestor-ESP{
	max-width: 400px;
	border-radius: 7px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	margin: 3rem 0;
  	border-width: 0px;
    color: #12789a;
    font-weight: bolder;
    background:linear-gradient(to left, rgba(240, 246, 247, 0.246), #eef1f5);
}
.cardGestor-ESP .imgCard-Gestor{
    margin-top: 10px;
    border-radius: 10px;
}
.cardGestor-ESP .titolCard{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.cardGestor-ESP .card-text{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}
.cardGestor-ESP  i {
    display: inline-block;
    font-size: 12px;
    color: #12789a;
    text-align: center;
    border: 1px solid #edf3f7;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    margin: 0 5px;
}
.cardGestor-ESP .icon-block{
    float:left;
    width:100%;
    margin-top:5px;
}
.cardGestor-ESP .icon-block a{
    text-decoration:none;
}
.cardGestor-ESP .fa-cog{
    position: absolute;
    font-size: 16px;
	z-index: 1;
	top: 0.1px;
    left: 0.1px;
    border: none;
}
.cardGestor-ESP .fa-trash{
    font-size: 18px;
    left: 0.1px;
    border: none;
}
.cardGestor-ESP i:hover {
    background-color:#12789a;
    color:#fff;
    text-decoration:none;
    cursor: pointer;
}
.cardGestor-ESP .cardButton{  
    border: 0;
    background: linear-gradient(to left, #1d4d7a,  #12789a);
    display: block;
    margin-bottom: 20px;
    height: auto;
    text-align: center;
    padding: 10px 25px;
    outline: none;
    font-size: small;
    font-weight: bold;
    color: rgb(227, 232, 240);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.cardGestor-ESP .cardButton:hover {
    background:linear-gradient(to left, rgba(240, 246, 247, 0.246), #eef1f5);
    color: #12789a;
    font-weight: bold;
    border: 1px solid #12789a;
}
.modalgestorDir {
    width: 30rem;
    padding: 4rem 2rem;
    border-radius: .8rem;
    box-shadow: .4rem .4rem 2.4rem .2rem hsla(199, 50%, 50%, 0.3);
    position: absolute;
    font-family: 'Open Sans', Arial, sans-serif; 
}

.modalgestorDir input[type="text"],
.modalgestorDir input[type="file"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #12789a;
    padding: 10px 10px;
    width: 350px;
    outline: none;
    color: rgb(74, 82, 87);
    border-radius: 24px;
    transition: 0.25s;
}
<<<<<<< HEAD
.modalgestorDir input[type="text"], 
.modalgestorDir input[type="file"]:focus {
    width: 300px;
    border-color: #699bf7;
=======
.modalgestorDir input[type="text"]:focus,
.modalgestorDir input[type="file"]:focus {
    width: 300px;
    border-color: #12789a
>>>>>>> aaca70af69aa8f9f3016afbcc6f64efa6f4c46f5
}
.modalgestorDir .labelModal{
    display: block;
    font-size: 18px;
    margin-top:10px;
    text-align: center;
    color: #12789a;
}
.modalgestorDir .edFecha{
    margin: 20px auto;
    display: block;
    color: rgb(74, 82, 87);
    padding: 10px 10px;
    border-radius: 24px;
    border: 1px solid #12789a;
    transition: 0.25s
}
.modalgestorDir .btnModal{
    border: 0;
    background: linear-gradient(to left, #1d4d7a,  #12789a);
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: rgb(227, 232, 240);
    font-weight: bolder;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.modalgestorDir .btnModal:hover {
    background:linear-gradient(to left, rgba(240, 246, 247, 0.246), #eef1f5);
    color: #12789a;
    font-weight: bolder;
    border: 1px solid #12789a;
}
  
/* TODO REVISAR ESAS CLASES */
header{
	font-size: 1em;
}
.textoc{
    font-size: 4rem;
    margin-top: 6rem;
}
.pi{
    font-size: 2rem;
}
.navbar{
    border-radius: 10px;
	padding-bottom: 0.7rem;
	padding-top: 0.7rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
}
/* FINAL */
.filaGris{
	background-color: #f2f2f2;
}
.brandLogo, .brandIcons, .menu{
	margin-right: 248px;
	margin-left: 248px;

}
.brandIcons{
	padding-bottom: 0.2rem;
	padding-top: 0.2rem;
}

.brandIcons i{
	margin: 0 4px;
}
.hoverMenu:hover{
    background-color: black;
    transition: 1.5s;
    font-size: 16.8px;
}

.modal-projecte{
    min-width: 800px !important;
}



.bi-x{
    cursor: pointer;
    color: red;
}