@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;;
    background-color: rgb(255, 255, 255);
}
.gestorDir-card{
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    max-width: 250px;
    text-align: center;
    max-height:300px;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}
.gestorDir-card .card-content {
    width: 100%;
    padding: 15px 25px;
    color:#04080e !important;
    float:left;
    background:linear-gradient(to left, rgba(240, 246, 247, 0.246), #eef1f5a6);
    height:50%;
    border-radius:0 0 5px 5px;
    position: relative;
    z-index: 9999;
}
.gestorDir-card .card-content::before {
    content: '';
    background:linear-gradient( #12789a, rgba(240, 246, 247, 0.246));
    width: 120%;
    height: 100%;
    left: 0.8px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
}
.gestorDir-card h3 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size:18px;
}
.gestorDir-card h3 small {
    display: block;
    font-size: 12px;
    margin-top:10px;
}
.gestorDir-card i {
    display: inline-block;
    font-size: 16px;
    color: #12789a;
    text-align: center;
    border: 1px solid #edf3f7;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    margin: 0 5px;
}
.gestorDir-card .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.gestorDir-card .icon-block a{
    text-decoration:none;
}
.gestorDir-card i:hover {
    background-color:#12789a;
    color:#fff;
    text-decoration:none;
    cursor: pointer;
}
/* TODO REVISAR ESAS CLASES */
header{
	font-size: 1em;
}
.textoc{
    font-size: 4rem;
    margin-top: 6rem;
}
.pi{
    font-size: 2rem;
}
.navbar{
    border-radius: 10px;
	padding-bottom: 0.7rem;
	padding-top: 0.7rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
}
/* FINAL */
.filaGris{
	background-color: #f2f2f2;
}
.brandLogo, .brandIcons, .menu{
	margin-right: 248px;
	margin-left: 248px;

}
.brandIcons{
	padding-bottom: 0.2rem;
	padding-top: 0.2rem;
}

.brandIcons i{
	margin: 0 4px;
}
.hoverMenu:hover{
    background-color: black;
    transition: 1.5s;
    font-size: 16.8px;
}

/* CAMBIAR NOMBRE CLASES
a{
	text-decoration: none;
	color: black;
}
.btn-danger{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.btn-primary{
    display: block;
    margin-bottom: 10px;
}

.btn-warning{
    display: block;
}*/