@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;;
    background-color: rgb(255, 255, 255);
}

.cardGestor-ESP{
	max-width: 400px;
	border-radius: 7px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	margin-top: 5rem;
  	border-width: 0px;
    color: #12789a;
    background:linear-gradient(to left, rgba(240, 246, 247, 0.246), #eef1f5)
}
.cardGestor-ESP  i {
    display: inline-block;
    font-size: 16px;
    color: #12789a;
    text-align: center;
    border: 1px solid #edf3f7;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    margin: 0 5px;
}
.cardGestor-ESP .icon-block{
    float:left;
    width:100%;
    margin-top:5px;
}
.cardGestor-ESP.icon-block a{
    text-decoration:none;
}
.cardGestor-ESP i:hover {
    background-color:#12789a;
    color:#fff;
    text-decoration:none;
    cursor: pointer;
}
.modalgestorDir {
    width: 40rem;
    padding: 4rem 2rem;
    border-radius: .8rem;
    box-shadow: .4rem .4rem 2.4rem .2rem hsla(199, 50%, 50%, 0.3);
    position: absolute;
    font-family: 'Open Sans', Arial, sans-serif;
   
}
.modalgestorDir input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #3498db;
    padding: 10px 10px;
    width: 350px;
    outline: none;
    color: rgb(74, 79, 87);
    border-radius: 24px;
    transition: 0.25s
}
.modalgestorDir input[type="text"]:focus {
    width: 300px;
    border-color: #699bf7
}
.modalgestorDir .labelModal{
    display: block;
    font-size: 18px;
    margin-top:10px;
    text-align: center;
    color: #3498db
}

.modalgestorDir .btnModal{
    border: 0;
    background: linear-gradient(to right, rgb(151, 220, 241), #699bf7);
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: rgb(227, 232, 240);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.modalgestorDir .btnModal:hover {
    background:linear-gradient(to left, rgb(151, 220, 241), #699bf7)
}
  
/* TODO REVISAR ESAS CLASES */
header{
	font-size: 1em;
}
.textoc{
    font-size: 4rem;
    margin-top: 6rem;
}
.pi{
    font-size: 2rem;
}
.navbar{
    border-radius: 10px;
	padding-bottom: 0.7rem;
	padding-top: 0.7rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
}
/* FINAL */
.filaGris{
	background-color: #f2f2f2;
}
.brandLogo, .brandIcons, .menu{
	margin-right: 248px;
	margin-left: 248px;

}
.brandIcons{
	padding-bottom: 0.2rem;
	padding-top: 0.2rem;
}

.brandIcons i{
	margin: 0 4px;
}
.hoverMenu:hover{
    background-color: black;
    transition: 1.5s;
    font-size: 16.8px;
}

.modal-projecte{
    min-width: 800px !important;
}

/* CAMBIAR NOMBRE CLASES
a{
	text-decoration: none;
	color: black;
}
.btn-danger{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.btn-primary{
    display: block;
    margin-bottom: 10px;
}

.btn-warning{
    display: block;
}*/