<!-- <div class="card gestorDir-card">
    <div class="card-content text-center" ng-repeat="esp in especialitats">
        <h3>{{esp.nom}} </h3>
        <div class="icon-block">
            <i class="fa fa-cog" aria-hidden="true" ng-click="editar($index)"></i>
            <a href="mailto:{{director.correu}}"> <i class="fa fa-paper-plane"></i></a>
            <a href="tel:{{director.contacte}}"><i class="fa fa-phone"></i></a>
        </div>
    </div>   
</div>    -->
<div id="slideCasa" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-indicators">
        <button type="button" data-bs-target="#slideCasa" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#slideCasa" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#slideCasa" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="multimedia/img/provisionales/{{url==null?'no-imageSlide.png' : url}}" class="d-block w-100" alt="Casa d'ofici">

        </div>
        <!-- falta sentencia para img de especialitats -->
        <div class="carousel-item">
          <img src="multimedia/img/provisionales/prueba2.png" class="d-block w-100" alt="Foto Especialitat">
        </div>
        <div class="carousel-item">
          <img src="multimedia/img/provisionales/prueba3.png" class="d-block w-100" alt="Foto Especialitat">
        </div>
    </div>
    <div class="position-absolute top-50 start-50 translate-middle">
        <p>{{idioma=="cat"?titol:titulo}}</p><hr>
        <h2>{{idioma=="cat"?nom:nombre | uppercase}}</h2>
    </div>
</div>
<div class="row row-cols-2 textCentral  gallery">
        <div class="col-12 col-md-6 " ng-repeat="esp in especialitats">
            <a href="#/edEsp/{{idCasa}}/{{esp.idEdicio}}"><div class="card" >
                <!-- <img src="multimedia/img/{{proyecto.url==''?'noimatge.png': 'projectes/'+proyecto.url}}" class="card-img-top" alt="Imagen Proyecto"> -->
                <div id="cardProyectos" class="card-body">
                    <h5 class="card-title  border border-1 fw-bold">{{esp.nom}}</h5>
                </div>
               </div></a>
           
           
            <!-- <a href="#/edEsp/{{idCasa}}/{{esp.idEdicio}}"><div class="card  cardstyle text-center  border border-2">
                <div class="card-body" >
                    <h3>{{esp.nom}} </h3>
                <p class="card-text text-wrap">Descripcion de especialdad o vídeo o imagen <br> Depende del mockup</p>
                </div>
            </div></a> -->
        </div>    
    </div> 

