
<div id="slideCasa" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#slideCasa" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#slideCasa" data-bs-slide-to="{{$index+1}}" aria-label="{{$index+1}}" ng-repeat="actual in actuals"></button>
		
	</div>
	<div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="multimedia/img/especialitats/{{url==null?'no-imageSlide.png' : url}}" class="d-block w-100" alt="Casa d'ofici">

	    </div>
	    <div class="carousel-item" ng-repeat="actual in actuals">
	      <img src="multimedia/img/{{actual.url==null?'especialitats/no-imatgeSlide.png': 'edicions/'+actual.url}}" class="d-block w-100" alt="Foto Especialitat">
	    </div>
	</div>
	<div class="position-absolute top-50 start-50 translate-middle">
		<p>{{idioma=="cat"?titol:titulo}}<hr></p>
		<h2>{{idioma=="cat"?nom:nombre | uppercase}}</h2>
	</div>
</div>
<div class="textCentral">
	<a href="#/cases/{{idCasa}}"><i class="fas fa-chevron-left"></i><span class="ms-1">{{idioma=="cat"?enrere:atras}}</span></a>
	<h6 class="mt-3 fw-bold">{{idioma=="cat"?nomEsp:nombreEsp | uppercase}}</h6>
	<p>{{idioma=="cat"?desEspcat:desEspcas}}</p>
	<h6 class="mt-3">{{idioma=="cat"?proCat:proCas | uppercase}}</h6>
</div>
<div ng-show="onProyec" class="row row-cols-3 textCentral">
	<div class="col" ng-repeat="proyecto in proyectos">
		<a href="#/pro/{{proyecto.idEdicio}}/{{proyecto.idProjecte}}">
			<div class="card" >
			 <img src="multimedia/img/{{proyecto.url==''?'noimatge.png': 'projectes/'+proyecto.url}}" class="card-img-top" alt="Imagen Proyecto">
			 <div id="cardProyectos" class="card-body">
			 	<h5 class="card-title  border border-1 fw-bold">{{idioma=="cat"?proyecto.titol: proyecto.titulo}}</h5>
			 </div>
			</div>
		</a>
	</div>
</div>
<div class="textCentral" ng-show="noProyec">
	<p>{{idioma=="cat"?divNocat: divNocas}}</p>
</div>

