<div class="">
    
    <div class="divmov">
        <img ng-src="multimedia/img/provisionales/{{rutaimg==NULL ? 'prueba3.png' : rutaimg}}" alt="" class="mov" ng-model="rutaimg">
        
        <div>
                <div class="textoc mb-5" id="prueba">
                    <p  class="text-center">{{idioma=="cat"?titol1:titulo1}}<br>{{idioma=="cat"?titol1a:titulo1a}}</p>
                </div>  
                   
                <div class="row row-cols-1 row-cols-sm-3  mt-5 mb-5">

                        <div class="col text-center housenames pi imgbanner mt-sm-5" ng-repeat="casa in datosCasas" >
                           
                           <p class="hover"  ><a ng-href="#/cases/{{casa.idcasa}}" id="numweb" ng-mouseover="changeimg($index)">{{idioma=="cat"?casa.nom:casa.nombre}}</a></p>
                          
                        </div>    
                </div> 
               
                <div class="row row-cols-1 mt-5 mb-5 offset-sm-1 textbanner">
                        <div class="col">
                            <p class="pi">{{idioma=="cat"?espai:espacio}}</p>
                        </div>
                        
                        <div class="col mt-2  textg">
                            <p>{{idioma=="cat"?parraf1:parrafo1}}</p>
                        </div>
                        <div class="col mt-2 textg">
                            <p>{{idioma=="cat"?parraf2:parrafo2}}</p>
                        </div>
                        <div class="col mt-2 mb-sm-5  mb-2 textg">
                            <p>{{idioma=="cat"?parraf3:parrafo3}}</p>
                        </div>
                </div>
                   
        </div>
    </div>
    <div class=" segonc  text-center">

        
      <div class="col-12 divcar">
          <div id="carouselEspecialitats" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" >
              <div class="carousel-item" ng-class="{'active': $index==0}" ng-repeat="videos in datosVideos">
                <img ng-src="multimedia/img/provisionales/{{videos.miniatura}}" class="d-block w-100 hover" ng-click="changevid($index)" alt="Videos Cases" data-bs-toggle="modal" data-bs-target="#modal0" >   
              </div>  
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselEspecialitats" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselEspecialitats" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            
            </button>
          </div>
    </div>
    <!-- TO DO:Falta por resolver el refresco del Vid -->
          <div class="modal fade" id="modal0" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Video a reproducir</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                <div class="modal-body">
                 
                    <div class="embed-responsive embed-responsive-16by9"> 
                      <iframe width="1485" height="920"  class="embed-responsive-item" ng-src="{{rutavid| trusted}}" allowfullscreen></iframe> 
                    </div>  
                  
                </div> 
              </div>
              
            </div>
          </div>
          
              
  </div>    
    

          


    <div class="row row-cols-2 segonc  div4 ">

        <div class="col-6  offset-sm-1 ">
                        <p class="pi textredbox ">{{idioma=="cat"?informacio1:informacion1}}<br>{{idioma=="cat"?informacio2:informacion2}}</p>
                        <button type="button" class="btn btn-danger boxofc mb-5 mt-4 d-none d-sm-block " >{{idioma=="cat"?botoncat:botoncast}}</button>
                        
        </div>
        <div class="col-4  ">
                    <img src="multimedia/img/fulla.png" alt="" class="img-fluid">
        </div>
        <div class="col-12 text-center d-sm-none">
          <button type="button" class="btn btn-danger boxofc mb-2 mt-2 buttonredbox">{{idioma=="cat"?botoncat:botoncast}}</button>
        </div>        
               
    </div>

</div>

<!-- .container-fluid { padding: 0;}
This does basically what I want, but it adds 20px overflow to body. So should I just do this:

body, html { overflow-x: hidden; } -->




