<div class="container-fluid">
    
    <div class="row divmov">
        <img ng-src="multimedia/img/provisionales/{{rutaimg==NULL ? 'prueba3.png' : rutaimg}}" alt="" class="mov" ng-model="rutaimg">
        
        <div class="col"  >
                <div class="textoc mb-5" id="prueba">
                    <p  class="text-center">T'OBRIM LA PORTA A <br> LES CASES D'OFICIS</p>
                </div>  
                   
                <div class="row cols-3 mt-5 mb-5">

                        <div class="col text-center pi imgbanner mt-5" ng-repeat="casa in cases"  >
                           
                           <p class="hover"  ><a href="#/cases/{{casa.idcasa}}" id="numweb" ng-mouseover="changeimg($index)">{{casa.nom}}</a></p>
                          
                        </div>    
                </div> 
               
                <div class="row row-cols-10 mt-5 offset-1 ">
                        <div class="col-10 row-cols-10">
                            <p class="pi">QUÉ ET TROBARÁS EN AQUESTA WEB</p>
                        </div>
                        
                        <div class="col-8 mt-2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident expedita minima doloribus autem voluptas voluptate, consequuntur vitae sapiente quae omnis beatae nesciunt voluptatibus harum nisi quam laboriosam obcaecati ipsam eos.</p>
                        </div>
                        <div class="col-8 mt-2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum, repellat velit ipsam iste facilis. Quasi neque culpa unde praesentium ad illum itaque quia, explicabo placeat adipisci error! Ex, at!</p>
                        </div>
                        <div class="col-8 mt-2 mb-5">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit odit cum repellendus esse. Voluptates corrupti quia error at expedita accusamus nesciunt explicabo molestiae, cumque dolor veniam cupiditate quae. Non, aspernatur.</p>
                        </div>
                </div>
                   
        </div>
    </div>
    <div class="row  segonc mt-5 text-center">

        
        <div class="col-10 offset-1">
           <h2>Tu video aquí xd</h2>
             
            <div id="slidehome" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#slidehome" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#slidehome" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#slidehome" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
            
                <div class="carousel-inner hover">
                    <div class="carousel-item active">
                      <img ng-src="multimedia/img/provisionales/{{url==NULL?'no-imageSlide.png' : url}}" class="d-block w-100 " alt="Casa d'ofici" data-bs-toggle="modal" data-bs-target="#modal0" >
                          
                      
                      <div class="modal fade" id="modal0" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Video a reproducir</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <iframe width="1880" height="920" src="https://www.youtube.com/embed/yVIRcnlRKF8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                          
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                        <img src="multimedia/img/provisionales/sostenibles.png" class="d-block w-100" alt="Foto Especialitat" data-bs-toggle="modal" data-bs-target="#modal1">

                        <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Video a reproducir</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <iframe width="1880" height="920" src="https://www.youtube.com/embed/yVIRcnlRKF8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                              
                              </div>
                            </div>
                          </div>
                        </div>
                      
                    <div class="carousel-item">
                      <img src="multimedia/img/provisionales/digitals.png" class="d-block w-100" alt="Foto Especialitat" data-bs-toggle="modal" data-bs-target="#modal2">
                    </div>

                    <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Video a reproducir</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <iframe width="1880" height="920" src="https://www.youtube.com/embed/yVIRcnlRKF8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                          
                          </div>
                        </div>
                      </div>
                    
                    <div class="carousel-item">
                      <img src="multimedia/img/provisionales/espectacles.png" class="d-block w-100" alt="Foto Especialitat" data-bs-toggle="modal" data-bs-target="#modal3">
                    </div>

                    <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Video a reproducir</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <iframe width="1880" height="920" src="https://www.youtube.com/embed/yVIRcnlRKF8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                          
                          </div>
                        </div>
                      </div>
                </div>
             </div>
              
        </div>    
    </div>
          


    <div class="row row-cols-2 segonc mt-5">

        <div class="col-6 mt-5  offset-1">
                        <p class="pi">Informació d'acces a les <br> Cases d'oficis</p>
                        <button type="button" class="btn btn-danger boxofc mb-5 mt-4" >Info Cases D'oficis</button>
        </div>
        <div class="col-4">
                    <img src="multimedia/img/hoja.png" alt="" class="img-fluid">
        </div>
                
               
    </div>

</div>

