<div class="container">
    
    <div class="row divmov">
        <img ng-src="multimedia/img/{{rutaimg==NULL ? 'home-prueba.PNG' : rutaimg}}" alt="" class="mov" ng-model="rutaimg">
        <div class="col"  >
           
           
                <div class="textoc mb-5" id="prueba">
                    <p  class="text-center">T'OBRIM LA PORTA A <br> LES CASES D'OFICIS</p>
                </div>  
                   
                <div class="row cols-3 mt-5 mb-5">

                        <div class="col text-center pi imgbanner mt-5" ng-repeat="casa in cases"  >
                           
                           <p class="mouse"  ><a href="#/cases/{{casa.idcasa}}" id="numweb" ng-mouseover="changeimg($index)">{{casa.nom}}</a></p>
                          
                        </div>
                    
                </div> 
               
                <div class="row row-cols-10 mt-5">
                        <div class="col-10 row-cols-10">
                            <p class="pi">QUÉ ET TROBARÁS EN AQUESTA WEB</p>
                        </div>
                        
                        <div class="col-8 mt-2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident expedita minima doloribus autem voluptas voluptate, consequuntur vitae sapiente quae omnis beatae nesciunt voluptatibus harum nisi quam laboriosam obcaecati ipsam eos.</p>
                        </div>
                        <div class="col-8 mt-2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum, repellat velit ipsam iste facilis. Quasi neque culpa unde praesentium ad illum itaque quia, explicabo placeat adipisci error! Ex, at!</p>
                        </div>
                        <div class="col-8 mt-2 mb-5">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit odit cum repellendus esse. Voluptates corrupti quia error at expedita accusamus nesciunt explicabo molestiae, cumque dolor veniam cupiditate quae. Non, aspernatur.</p>
                        </div>
                </div>
                   
        </div>
    </div>
        <div class="row segonc mt-5">

                <div class="col-12 mt-5 mb-5">
                        <p class="pi">Informació d'acces a les <br> Cases d'oficis</p>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger">Info Cases D'oficis</button>
                </div>
        </div>

    </div>
</div>
