<div id="slideCasa" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#slideCasa" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#slideCasa" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#slideCasa" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="multimedia/img/provisionales/{{imgCasa==null?'no-imageSlide.png' : imgCasa}}" class="d-block w-100" alt="Casa d'ofici">

	    </div>
	    <!-- falta sentencia para img de especialitats -->
	    <div class="carousel-item">
	      <img src="multimedia/img/provisionales/prueba2.png" class="d-block w-100" alt="Foto Especialitat">
	    </div>
	    <div class="carousel-item">
	      <img src="multimedia/img/provisionales/prueba3.png" class="d-block w-100" alt="Foto Especialitat">
	    </div>
	</div>
	<div class="position-absolute top-50 start-50 translate-middle">
		<p class="lineProj">{{idioma=="cat"?titol:titulo}} {{idioma=="cat"?casaCat:casaCas | uppercase}} {{prin|limitTo:2:2}}/{{final|limitTo:2:2}}</p><hr>
		<h2>{{idioma=="cat"?projCat:projCas}}</h2>
	</div>

</div>
<div class="textCentral">
	<h6 class="fw-bold">{{idioma=="cat"?textCat:textCas}}</h6>
	<p>{{idioma=="cat"?desProcat:desProcas}}</p>
	<div class="row row-cols-3">
		<div class="col">
			<h6 class="titProyecto">{{idioma=="cat"?loCat:loCas}}</h6>
			<span class="parrProyecto">Institut Tecnològic de Barcelona</span>
		</div>
		<div class="col">
			<h6 class="titProyecto">{{idioma=="cat"?partCat:partCas}}</h6>
			<span class="parrProyecto">{{idioma=="cat"?espeCat:espeCas}}</span>
			
		</div>
		<div class="col">
			<h6 class="titProyecto">{{idioma=="cat"?datcat:datcas}}</h6>
			<span class="parrProyecto">a definir</span>
		</div>
	</div>
</div>
<div class="textCentral">
	<h6 class="fw-bold">{{idioma=="cat"?galCat:galCas | uppercase}}</h6>
	<div class="row">
		
	</div>
</div>